<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue JS</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="csss/cssstyle.css" rel="stylesheet">
</head>
<body>
    <div id="app_1">
        {{pesan_hello_world}}
    </div>

    <div id="app_2">
        <span v-bind:title="message_2">
            Gerakkan kursor mouse ke tulisan ini untuk menampilkan tanggalnya.
        </span>
    </div>

    <div id="app_4">
        <ol>
            <li v-for="daftar in daftars">
                {{daftar.text}}
            </li>
        </ol>
    </div>

    <div id="app_ul_list4">
        <ul>
            <li v-for="list in lists">
                {{list.nama}}
            </li>
        </ul>
    </div>

    <div id="app_5">
        <p>{{pesan}}</p>
        <button v-on:click="balikkanPesan">Balikkan Pesan</button>
    </div>

    <div id="app_5x">
        <p>{{pesanbalik}}</p>
        <button v-on:click="fungsiBalikan">Balikin Pesan</button>
    </div>


    <script src="apps/app.js"></script>
</body>
</html>