<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conditonal Loops</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app-3">
        <p v-if="seen">Sekarang elemen ini terlihat</p>
    </div>

    <script type="text/javascript">

        var app3 = new Vue({
            el: "#app-3",
            data: {
                seen: false
            }
        })
    </script>
</body>
</html>